@import url("https://fonts.googleapis.com/css?family=Cantarell&display=swap");

* {
    padding: 0%;
    margin: 0%;
}

body {
  background-color: #fefefe;
  font-family: "Cantarell", sans-serif;
}

header {
  background-color: #efefef;
  height: 195px;
}

main {
  height: 60vh;
}

#footer {
  background-color: #696C6B;
  height: 320px;
}

.height-25-vh {
  height: 25vh;
}

#navbar-container {
  background-color: #1a1a1a;
  color: white;
}

#navbarNav ul li a {
  color: white;
}

.no-padding {
  padding: 0 !important;
}

.no-py {
  padding-left: 0; 
  padding-right: 0;
}

.pr-0 {
    padding-right: 0% !important;
}

.pb-0 {
    padding-bottom: 0% !important;
}

.no-border-radius {
    border-radius: 0% !important;
}

.no-margin {
    margin: 0 !important;
}

.gml-card-title {
    background-color: #ff0000;
    padding: 10px;
    min-width: 100px;
    margin-top: 50%;
}

.gml-card-title-container {
    padding-top: 150px;
}

.gml-card-description {
    font-weight: 800;
    font-size: 1.2em;
    text-shadow: 1px 1px 4px #1a1a1a;
}

.margin-20 {
  margin-top: 18px;
}

.height-800 {
  height: 800px;
}

#pills-tab li.nav-item {
  background-color: #E6E6E6;
  margin-right: 5px;
}

.nav-pills .nav-link {
  color: #A4A4A4;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color:  #ff0000;
}

.text-red {
  color:  #ff0000;
}

.text-white {
  color: white;
}

.text-shadow {
  text-shadow: 1px 1px 4px #1a1a1a;
}

.fw-800 {
  font-weight: 800;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

#social-icons-container img {
  height: 133.33px;
  width: 133.33px;
}

#brands {
  height: 150px;
  background-color: #E6E6E6;
}

.footer-columns a {
  color: white;
  font-weight: 800;
}

#copyright {
  border-top: 5px ridge #ff0000;
}